body {
  background: url('../images/menu.jpg') no-repeat;
  font-family: 'Palatino';
}

a {
  color: #374966;
  text-decoration: none;
}

a:hover {
  color: #526583;
}

h1, h2, h3 {
  border-left: 25px solid #526583;
  padding-left: 10px;
  padding-top: 3px;
  clear: both;
}

h2 a {
  color: #000;
}

ul li, ol li {
  list-style-type: square;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

p {
  text-align: justify;
}

img {
  border: 1px solid #526583;
  padding: 5px;
  margin: 0 10px 0 10px;
}

#main {
  margin-right: 275px;
  margin-left: 25px;
}

#menu {
  height: 55px;
  padding-top: 60px;
  padding-bottom: 20px;
}

#menu li {
  float: left;
  list-style-type: none;
  font-weight: bold;
  font-variant: small-caps;
  padding-left: 25px;
}

#menu li a {
  padding-top: 6px;
  font-size: 1.5em;
  display: block;
}

#sidebar {
  float: right;
  border-left: 1px solid #999;
  width: 250px;
  min-height: 100%;
  padding: 10px;
}

#footer {
  text-align: center;
  border-top: 1px solid #999;
  margin: 50px auto 10px auto;
  padding-top: 10px;
  width: 400px;
}

.meta {
  font-size: 0.8em;
  color: #555;
}

blockquote {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted black;
}
