body {
  background: url('../images/menu.jpg') no-repeat;
  font-family: 'Palatino';
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

a {
  color: #374966;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #526583;
}

h1, h2, h3 {
  border-left: 25px solid #526583;
  padding-left: 10px;
  padding-top: 3px;
  clear: both;
  margin-top: 25px;
  margin-bottom: 5px;
}

h2 a {
  color: #000;
}

ul li, ol li {
  list-style-type: square;
}

.clear {
  clear: both;
}

.left {
  float: left;
  margin-left: 0;
}

.right {
  float: right;
  margin-right: 0;
}

p {
  text-align: justify;
}

img {
  border: 1px solid #526583;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 3px;
  margin: 0 10px 0 10px;
}

.innertube {
  margin: 30px;
  margin-top: 0px;
}

#contentwrapper {
  float: left;
}

#contentcolumn {
  margin-right: 325px;
}

#menu {
  padding-top: 55px;
  padding-bottom: 35px;
}

#menu li {
  float: left;
  list-style-type: none;
  font-weight: bold;
  font-variant: small-caps;
  padding-left: 20px;
}

#menu li a {
  padding-top: 6px;
  font-size: 1.4em;
  display: block;
}

#sidebar {
  float: left;
  width: 325px;
  margin-left: -330px;
  border-left: 1px solid #999;
}

#sidebar ul {
  padding-left: 5px;
}

#sidebar .innertube > ul > li {
  margin-top: 20px;
  padding-left: 0;
  font-weight: bold;
  font-size: 1.2em;
  list-style-type: none;
}

#sidebar img {
  margin-left: 0px;
}

#footer {
  clear: left;
  text-align: center;
  border-top: 1px solid #999;
  margin: 50px auto 10px auto;
  padding-top: 10px;
  width: 400px;
}

.meta {
  font-size: 0.8em;
  color: #555;
}

blockquote {
  font-style: italic;
}

abbr {
  border-bottom: 1px dotted black;
}
