<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cache-control" content="no-cache">
<meta name="author" content="Michał Bugno" />
<meta name="description" content="Strona poświęcona wycieczce rowerowej na Islandię w maju 2010." />
<meta name="keywords" content="rower, bicykl, rowery, bicykle, islandia, jednoślad, wodospad, gejzer, wycieczka, agh" />
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
<link href="http://feeds.feedburner.com/IslandiaBicyklem" rel="alternate" title="Islandia Bicyklem maj 2010" type="application/atom+xml" />
