<ul>
  <li>Info</li>
  <ul>
    <li>Aktualizacja: <em>{{ site.time | date: "%Y-%m-%d, %H:%M" }}</em></li>
  </ul>
  <li>Linki</li>
  <ul>
    <li>Mail: <a href="mailto:islandia@bicyklem.pl">islandia@bicyklem.pl</a></li>
    <li>Relacja z <a href="../bodensee.html">poprzedniej wyprawy nad jezioro Bodeńskie</a></li>
  </ul>
  <li>Sponsorzy</li>
  <ul>
    <li><a href="http://www.szumgum.com/" title="Sklepy Rowerowe">SzumGum.com<br /><img src="http://www.szumgum.com/banery/ok/140x112.gif" alt="Rower"></a></li>
  </ul>
  <li>Patronat</li>
  <ul>
    <li><a href="http://bikefama.pl/">BikeFama.pl<br /><img src="../images/patronage/bike_fama_banner.jpg" /></a></li>
    <li><a href="http://mtbikes.pl/">mtbikes.pl<br /><img src="../images/patronage/mtbikes_banner.jpg" /></a></li>
  </ul>
</ul>
