<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Islandia bicyklem: wycieczka rowerowa na Islandię w maju 2010 &raquo; Relacja &raquo; Dzień {{ page.day }}</title>
    {% include headers2.html %}
  </head>
  <body>
    <div id="maincontainer">
      <div id="menu">
        <div class="innertube">
          <ol>
            {% include menu2.html %}
            {% include report_menu2.html %}
          </ol>
        </div>
      </div>

      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
            <h2>Dzień {{ page.day }} &nbsp;&nbsp;<span class="meta">{{ page.title }}</span></h2>

            {{ content }}

            {% if page.day > 10 %}
              <a href="../report/day_{{ page.day | minus:1 }}.html">Poprzedni dzień</a>
            {% elsif page.day > 0 %}
              <a href="../report/day_0{{ page.day | minus:1 }}.html">Poprzedni dzień</a>
            {% endif %}

            {% if page.day < 9 %}
              | <a href="../report/day_0{{ page.day | plus:1 }}.html">Następny dzień</a>
            {% elsif page.day < 21 %}
              | <a href="../report/day_{{ page.day | plus:1 }}.html">Następny dzień</a>
            {% endif %}

            {% if page.links | size != 0 %}
              <h3>Linki</h3>
              <ul>
              {% for link in page.links %}
                <li><a href="{{ link }}">{{ link }}</a></li>
              {% endfor %}
              </ul>
            {% endif %}

            <h3>Dane techniczne</h3>
            <dl>
              <dt>dystans</dt>
              <dd>{{ page.distance }} km</dd>
              <dt>czas jazdy</dt>
              <dd>{{ page.time_hours }}:{{ page.time_minutes }} h</dd>
              <dt>podjazd</dt>
              <dd>{{ page.elevation_gain }} m</dd>
              <dt>zjazd</dt>
              <dd>{{ page.elevation_loss }} m</dd>
              <dt>prędkość średnia</dt>
              <dd>{{ page.avg_moving_speed }} km/h</dd>
              <dt>prędkość maksymalna</dt>
              <dd>{{ page.max_speed }} km/h</dd>
            </dl>

            {% if page.garmin_connect_id %}
              <h3>Garmin Connect</h3>
              <iframe width='465' height='548' frameborder='0' src='http://connect.garmin.com:80/activity/embed/{{ page.garmin_connect_id }}'></iframe>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="sidebar">
        <div class="innertube">
          {% include sidebar2.html %}
        </div>
      </div>

      <div id="footer">
        {% include footer.html %}
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("UA-414968-9");
          pageTracker._trackPageview();
        } catch(err) {}</script>


    </body>
  </html>
