<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <title>Islandia bicyklem: wycieczka rowerowa na Islandię w maju 2010 &raquo; {{ page.title }}</title>
    {% include headers.html %}
  </head>
  <body>
    <div id="maincontainer">
      <div id="menu">
        <div class="innertube">
          <ol>
            {% include menu.html %}
          </ol>
        </div>
      </div>

      <div id="contentwrapper">
        <div id="contentcolumn">
          <div class="innertube">
            {{ content }}
          </div>
        </div>
      </div>

      <div id="sidebar">
        <div class="innertube">
          {% include sidebar.html %}
        </div>
      </div>

      <div id="footer">
        {% include footer.html %}
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-414968-9");
        pageTracker._trackPageview();
      } catch(err) {}</script>


  </body>
</html>
