<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Islandia rowerem &raquo; {{ page.title }}</title>
    <meta name="author" content="Michał Bugno" />
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <div id="sidebar">
      <ul>
        <li>Informacje w sidebarze</li>
        <li>Więcej informacji</li>
        <li>Jeszcze trochę, to ostatnia</li>
      </ul>
    </div>
    <div id="menu">
      <ol>
        <li><a href=".">Strona główna</a></li>
        <li><a href="./trip_plan.html">Plan</a></li>
        <li><a href="./report.html">Relacja</a></li>
        <li><a href="./about.html">Uczestnicy</a></li>
        <li><a href="./sponsorship.html">Sponsorzy</a></li>
      </ol>
    </div>
    <div id="main">
      {{ content }}
    </div>
  </body>
</html>
